HeaderFilterRegex: '.*'

Checks: [
    '*',
    "-altera-*",
    "-bugprone-easily-swappable-parameters",
    "-google-readability-todo",
    "-llvmlibc-*",
    "-llvm-header-guard",
    "-modernize-macro-to-enum",
    "-modernize-use-trailing-return-type",
    "-readability-magic-numbers",
    "-readability-identifier-length",
    "-fuchsia-*",
    # We are fine with rand()
    "-cert-msc30-c", "-cert-msc50-cpp",
]

CheckOptions:
    readability-function-cognitive-complexity.IgnoreMacros: true
    hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: true
