<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float</title>
    <style>
        .float {
            float: left;
            width: 150px;
            height: 50px;
            background-color: lightgreen;
        }
    </style>
</head>

<body>
    <h1>Floating box</h1>
    <div class="float">
        This is inside floating box
    </div>
    <div class="another">
        block-level element next to float
    </div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quam molestias facilis! Incidunt, facere labore.
    Illum exercitationem sequi voluptatum a nostrum. Aperiam nam, vitae odio neque quas quam facilis ut?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni magnam, aspernatur numquam, adipisci sint quaerat ratione ipsa necessitatibus porro voluptatem odit architecto enim molestiae quae sit beatae autem ea. Quam?
</body>

</html>